/* .clock {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left;
    align-items: left;
    font-family: 'Share Tech Mono', monospace;
   
  } */
  .clock {
    font-family: 'Share Tech Mono', monospace;
    display : flex;
    flex : 1;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    color: #000;
    text-shadow: 0 0 10px rgb(226, 226, 226),  0 0 20px rgba(234, 237, 238, 0);
  }
.clock time{
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
.clock thedate{
        letter-spacing: 0.1em; 
        font-size: 24px;
    }

  .clock h1, .clock h2 {
    font-size : 14px;
    font-weight : bold; 
  }